@charset "UTF-8";
/* -------------------------------------------------------------------------------------------------------------------- */
.container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.hidden {
  display: none !important;
}

.br-bar {
  width: 3px;
  height: 18px;
  margin: 0 8px 3px 0;
  vertical-align: middle;
  background: #be6a15;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: "Pretendard JP Variable", "Pretendard JP", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Hiragino Sans", "Apple SD Gothic Neo", Meiryo, "Noto Sans JP", "Noto Sans KR", "Malgun Gothic", Osaka, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  letter-spacing: -0.04em;
}

input, textarea, button, select, pre {
  font-family: inherit;
  letter-spacing: -0.04em;
}

header {
  margin-bottom: 6%;
}

main {
  margin-bottom: 12%;
}

section > h2 {
  font-size: 0;
}

ul, ol {
  list-style: none;
  -webkit-padding-start: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}

header a, footer a {
  transition: 0.3s;
}
header a:hover, footer a:hover {
  font-weight: bold;
}

img, span, strong, label, time {
  display: inline-block;
  vertical-align: middle;
}

address {
  font-style: normal;
}

button {
  border: 0;
  background: transparent;
}

input:focus {
  outline: none;
}
input[type=checkbox], input[type=radio] {
  vertical-align: middle;
  zoom: 1.1;
}
input[type=checkbox] {
  position: relative;
  width: 14px;
  height: 14px;
  outline: none !important;
  border: 1px solid #c5c5c5;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type=checkbox]:hover {
  background: #d4d4d4;
}
input[type=checkbox]:checked {
  color: #fff;
  background-color: #ac3f21;
  border: 0;
}
input[type=checkbox]:checked::before {
  border-radius: 2px;
  transform: scale(1) translate(-50%, -50%);
}
input[type=checkbox]::before {
  content: "✓";
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: 1;
  transform: scale(0) translate(-50%, -50%);
  overflow: hidden;
}
input[type=checkbox] + label {
  color: #3c3c3c;
  margin-left: 5px;
}
input[type=checkbox]:checked + label {
  color: #ac3f21;
  font-weight: 600;
}
input[type=radio] {
  position: relative;
  width: 18px;
  height: 18px;
  outline: none !important;
  border: 1px solid #c5c5c5 !important;
  border-radius: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type=radio]:hover {
  background: #d4d4d4;
}
input[type=radio]:checked {
  color: #fff;
  background-color: #ac3f21;
  border: 0 !important;
}
input[type=radio]:checked::before {
  border-radius: 2px;
  transform: scale(1) translate(-50%, -50%);
}
input[type=radio]::before {
  content: "✓";
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: 1;
  transform: scale(0) translate(-50%, -50%);
  overflow: hidden;
}
input[type=radio] + label {
  color: #3c3c3c;
  margin-left: 5px;
}
input[type=radio]:checked + label {
  color: #ac3f21;
  font-weight: 600;
}

pre {
  white-space: pre-wrap;
}

a, input, button, select, label {
  cursor: pointer;
}

input, select {
  border: 1px solid #d4d4d4;
  color: #5c5c5c;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}

textarea {
  resize: none;
}

input, button, select, textarea, video {
  border-radius: 5px;
}

h1 {
  font-size: 46px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 18px;
}