@charset 'utf-8';
@import '../../../scss/style.scss';
@import '../../../scss/common.scss';
@import '../../../scss/mixin.scss';
@import '../../../scss/mixin_header.scss';
@import '../../../scss/mixin_footer.scss';

header {
    @include header_common();
    @include header_sub();
    @include full_bg('exhibition_header.png');
}

main {
    overflow-x: hidden;
    
    section.info {
        @include detail_info();

        .item-wrap {
            margin-bottom: 0;

            .i-slide {

                @include responsive(pc-screens) {
                    width: 100%;
                }

                .main-pic {
                    height: auto;
                }
            }

            .i-des {

                @include responsive(pc-screens) {
                    width: 100%;
                }

                .loc-icon {
                    justify-content: flex-end;
                    margin-bottom: 20px;
                    @include responsive(pc-screens) {
                        margin-top: 40px;
                    }

                    .loc-box {
                        display: flex;
                        
                        column-gap: 15px;
        
                        .loc div {
    
                            &.tag {
                                width: 50px;
                            }
        
                            &:last-child {
                                width: calc(80px - 50px);
                            }
                        }
                    }
                }
    
                .tit-exp {
                    margin-bottom: 50px;

                    @include responsive(pc-screens) {
                        margin-bottom: 0;
                    }

                    .tit {

                        & * {
                            text-align: center;
                        }

                        @include responsive(pc-screens) {
                        }

                        .lang {
                            @include gothic_font(medium, 18px);
                            color: $yellow-brown;
                            margin-top: 0;

                            @include responsive(pc-screens){
                                font-size: 22px;
                            }
                        }

                        h4 {
                            font-size: 30px;

                            @include responsive(pc-screens){
                                font-size: 36px;
                            }
                        }
                    }

                    .exp {

                        a {
                            color: $yellow-brown;

                            img {
                                height: 12px;
                                margin-left: 5px;
                                filter: $svg-yellowbrown;
                            }
                        }
                    }
                }  
            }
        }
    }


    h1 {
        display: none;
    }


    .text {
        @include responsive(pc-screens){
            position: relative;   
        }

        p {
            font-size: 20px;
            color: $yellow-brown;
            padding-top: 50px;
            padding-bottom: 15px;
            @include gothic_font(medium, 20px); 

            @include responsive(pc-screens){
                font-size: 26px;
            }
        }

        h2 {
            @include gothic_font(bold, 30px);

            @include responsive(pc-screens){
                font-size: 46px;
            }
        }
    }

    .program-des {
        margin-top: 40px;
        
        @include responsive(pc-screens) {
            @include flex_between();
            flex-direction: row-reverse;
            margin-top: 80px;
        }
    }

    .r-d {


        @include responsive(pc-screens){

            width: 34.28571428571429%;
        }

        .request {
            position: fixed;
            left: 0; bottom: 0;
            width: 100%;
            z-index: 95;
            
            
            @include responsive(pc-screens){
                box-shadow: none;
                position: relative;
                width: 100%;
                margin-top: 30px;
                
            }

            a {
                display: flex;
                justify-content: center;
                column-gap: 5px;
                @include gothic_font(semibold, 18px);
                width: 100%;
                padding: 23px;
                border: 1px solid #be6a15;
                background: #be6a15;
                color:#fff;
    
                @include responsive(pc-screens){
                    color:#be6a15;
                    border: 1px solid #be6a15;
                    border-radius: 5px;
                    background-color: transparent;
                    
                    &:hover {
                        color: white;
                        background-color: #be6a15;
                        box-shadow: rgb(190 106 21 / 50%) 0px 18px 25px -10px;
                        transition: all 0.4s;
                        img{
                            filter:none;
                        }
                    }
                }
                img{
                    width:20px;
                    height:20px;
                    margin-top: 1px;
                    margin-right: 5px;
                    transition: all 0.8s;

                    @include responsive(pc-screens){
                        filter:$svg-yellowbrown;  
                    }
                }
            }  
        }
    
        .request-desc {

            .content {
                span {
                    @include gothic_font(semibold, 18px);
                    padding-top: 20px;

                    @include responsive(pc-screens){
                        font-size: 24px;
                    }
                }
                
                p {
                    padding: 15px 0 25px 0;
                    border-bottom: 1px solid $bk5;

                    @include responsive(pc-screens){
                        @include gothic_font(regular, 26px);
                        color: $bk1;
                    }
                }
    
                &:last-child p {
                    border-bottom: 0;
                }
            }
            
            table.mini-box {
                @include out_container();
                padding: 20px 30px;
                margin-top: 30px;
                margin-bottom: 50px;
                line-height: 2em;
                background: $bk6;
                
                @include responsive(pc-screens) {
                    @include in_container();
                    width: 100%;
                    margin-top: 40px;
                    margin-bottom: 80px;
                    border-radius: 5px;
                }

                th {
                    width: 15%;
                    text-align: left;

                    @include responsive(pc-screens) {
                        text-align: left;
                    }
                }

                td {
                    color: $bk1;
                }

                .writer {
                    vertical-align: top;
                }
            }
        }
    }

    .o-i-p {
        margin-bottom: 100px;
        @include responsive(pc-screens){
            width: 60%;
        }
        
        .introduce {
            @include responsive(pc-screens){
                margin-bottom: 60px;
            }

            h6 {
                margin: 25px 0;
                @include gothic_font(semibold, 18px);

                @include responsive(pc-screens){
                    font-size: 18px;
                }
            }

            strong {
                font-size: 18px;
                margin-bottom: 15px;
            }   

            p {
                margin-bottom: 10px;

                @include responsive(pc-screens){
                    font-size: 17px;
                }
            }
        }

        .ticket-info {

            h6 {
                margin: 25px 0;
                @include gothic_font(semibold, 18px);

                @include responsive(pc-screens){
                    font-size: 18px;
                }
            }

            ul {
                li {
                    padding-left: 11px;
                    margin-bottom: 20px;
                    line-height: calc(1em - 2px + 10px);
                    background: url(../../about/image/icon_bullet_dot.svg) no-repeat left 0.7em;
                    background-size: 2px;
                    
                    @include responsive(tablet-screens) {
                        padding-left: 14px;
                        margin-bottom: 30px;
                        font-size: 17px;
                    }
                }
            }
        }

        p {
            @include content_align(justify);

            @include responsive(pc-screens) {
                font-size: 17px;
            }
        }

        .content {
            text-align: justify;
            margin-top: 60px;
            
            span {
                @include gothic_font(semibold, 18px);

                @include responsive(pc-screens){
                    font-size: 28px;
                }
            }
    
            p {
                @include content_align();
                margin-bottom: 30px;

                @include responsive(pc-screens){
                    @include gothic_font(regular, 22px);
                    color: $bk1;
                }

                &.title {
                    margin-bottom: 10px;
                }
            }

            &.intro {

                .first {
                    @include gothic_font(semibold);
                    margin-bottom: 20px;

                    @include responsive(pc-screens){
                        @include gothic_font(semibold, 24px);
                        
                    }
                }
            }

            &.precaution {
                p {
                    margin-bottom: 10px;
                    line-height: 28px;
    
                    @include responsive(pc-screens){
                        width: 620px;
                        @include gothic_font(regular, 22px);
                    }
                }
            }
        }
    }

    section.image {
        .ehb-slider {
            margin-bottom: 100px;
            @include responsive(pc-screens){
                margin-bottom: 200px;
            }

            .slick-list {
                padding: 30px 0 70px !important;
                border-radius: 5px;
            }

            .slick-slide {
                margin: 0 110px;
            }

            .slick-center .bg {
                transform: scale3d(1.0, 1.0, 1);
                opacity: 1;
            }

            .slick-current .bg {
                box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
        
                .des {
                bottom: 0;
                }
            }

            .slick-dots li {

                button::before {
                    content: '';
                    display: block;
                    width: 20px; height: 4px;
                    text-indent: -9999px;
                    border-radius: 3px;
                    background: $bk5;
                    overflow: hidden;
                    opacity: 1;
                    transition: background .3s;
                }

                &.slick-active {
                
                    button::before {
                        width: 20px;
                        background: $bk1;
                        opacity: 1;
                    }
                }
            }

            .bg {
                position: relative;
                width: 350px;
                margin: 0 -125px;
                border-radius: 15px;
                transform: scale3d(0.8, 0.8, 1);
                transition: all .3s ease-in-out;
                opacity: .2;
                overflow: hidden;
        
                @media screen and (min-width:480px) {
                    width: 450px; height:400px;
                }
        
                @include responsive(tablet-screens) {
                    width: 650px; height: 550px;
                }
        
                @include responsive(pc-screens) {
                    width: 850px; 
                }

                a {
                    display: block;
                    height: 100%;
                }

                .des {
                    display: none;
                    @media screen and (min-width: 490px) {
                        @include flex_between();
                        align-items: flex-end;
                        position: absolute;
                        bottom: -200px;
                        width: 100%;
                        color: #000;
                        background-color: #fff;
                        transition: bottom .5s;
                        padding: 15px 30px;    
                    }

                    @include responsive(pc-screens) {
                        bottom: -230px;
                        padding: 25px 40px;
                    }
                    
            
                    .type {
                        @include gothic_font(bold,14px);

                        @include responsive(tablet-screens) {
                        font-size: 16px;
                        }
            
                        @include responsive(pc-screens) {
                        font-size: $h6;
                        }
                    }
        
                    .title { 
                        margin: 5px 0 15px;
                        font-size: 14px;
                        line-height: 1.5em;
                        
                        @include responsive(tablet-screens) {
                            font-size: 16px;
                        }
            
                        @include responsive(pc-screens) {
                            font-size: $h6;
                        }
                    }
                }

                img {
                width: 100%; height: 100%;
                object-fit: cover;
                }
            }
        }
    }
        
    section.movePage {
        @include move_page();
        
        @include responsive(pc-screens){
            font-size: 18px;
        }
    }
}



footer {
    @include footer();
}

@include fancybox_style();